node_modules/
dist/
playwright-report/
test-results/
.pw-cache/
allure-results/*
!allure-results/.gitkeep
reports/playwright-report/
reports/allure-report/
reports/allure-results/*
!reports/allure-results/.gitkeep
